@import url("css/font.css");
@import url("css/reset.css");


h2{font-size: 26px;}
h3{font-size: 24px; margin-top: 48px;}
div > h2:first-of-type, div > h3:first-of-type{margin-top: 0}
p{font-size: 17px; margin-top: 16px; color: #8e8e8e;}
.water{margin: 96px auto; width: 72px; height: 72px;}

html, body{height: 100%;}

.wrapper{text-align: center; padding: 96px 0;}

/* Notification Page */
.wrapper.noti{padding: 0;}
.content.noti{padding-top: 64px;}
.noti_header, .noti_footer{height: 96px; background: url('images/balloon.png') no-repeat;}
.noti_header{background-position: center bottom;}
.noti_footer{background-position: center top;}


/* Contact Page */
.wrapper.contact{padding-bottom: 0;}
.wrapper.contact .water{width: 108px; height: 108px;}

/* Form format */
input{border: 0; outline: none; text-align: center;}
input[type=text]{width: 100%;}
input[type=submit]{color: #8e8e8e; background: transparent;}
.new ::-webkit-input-placeholder{color: #0084ff;}
.new :-moz-placeholder{color: #0084ff;}
.new ::-moz-placeholder{color: #0084ff;}
.new :-ms-input-placeholder{color: #0084ff;}

/* Search Page */
.wrapper.search{padding: 0;}
.search .water{margin-top: 0;}

/* Fixed Elements */
.new{color: #0084ff;}
.highlight{font-weight: normal;}
.dot{font-family: 'Open Sans Condensed'; color: #0084ff;}
.del{color: #8e8e8e;}

.marginTop-128{margin-top: 64px;}
.marginTop-192{margin-top: 96px;}
.marginTop-0{margin-top: 0;}

.wrapper > :first-child{margin-top: 0; padding-top: 0;}
.wrapper > :last-child{margin-bottom: 0; padding-bottom: 0;}