/***** Helvetica Neue *****/
@font-face {
  font-family: 'Helvetica-Custom';
  src: url('HelveticaCustom.eot');
  src: url('HelveticaCustom.woff2') format('woff2'),
       url('HelveticaCustom.woff') format('woff'),
       url('HelveticaCustom.ttf') format('truetype'),
       url('HelveticaCustom.svg#HelveticaCustom') format('svg'),
       url('HelveticaCustom.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Custom';
  src: url('HelveticaCustom-Medium.eot');
  src: url('HelveticaCustom-Medium.woff2') format('woff2'),
       url('HelveticaCustom-Medium.woff') format('woff'),
       url('HelveticaCustom-Medium.ttf') format('truetype'),
       url('HelveticaCustom-Medium.svg#HelveticaCustom-Medium') format('svg'),
       url('HelveticaCustom-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
