@import url("font.css");
@import url("reset.css");

h1{font-size: 51px; padding-top: 40px;}
h2{font-size: 48px; color: #8e8e8e;}

.hel1{font-family: Helvetica;}
.hel2{font-family: 'Helvetica-Neue', 'Helvetica Neue';}
.hel3{font-family: 'Helvetica-Custom';}
.hel4{font-family: -apple-system;}

img{width: 216px; height: 216px;}
.dot{color: #0084ff;}