*{margin: 0; padding: 0; list-style-type: none; text-decoration: none; font-family: 'Helvetica-Custom', san-serif; font-weight: lighter; font-size: 100%;}
h1, h2, h3, h4, h5, h6{}
.clearfix{clear: both;}