/***** Helvetica Neue *****/
@font-face {
  font-family: 'Helvetica-Custom';
  src: url('HelveticaCustom.eot');
  src: url('HelveticaCustom.woff2') format('woff2'),
       url('HelveticaCustom.woff') format('woff'),
       url('HelveticaCustom.ttf') format('truetype'),
       url('HelveticaCustom.svg#HelveticaCustom') format('svg'),
       url('HelveticaCustom.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Custom';
  src: url('HelveticaCustom-Medium.eot');
  src: url('HelveticaCustom-Medium.woff2') format('woff2'),
       url('HelveticaCustom-Medium.woff') format('woff'),
       url('HelveticaCustom-Medium.ttf') format('truetype'),
       url('HelveticaCustom-Medium.svg#HelveticaCustom-Medium') format('svg'),
       url('HelveticaCustom-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/***** Open Sans Condensed *****/
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}